<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <div class="logo">
            <a href="index.html"><img src="images/logo.png" th:src="@{/images/banner.png}" alt="" class="" style="height: 64px;"></a>
            <p class="text-muted">JavaEE hakkında blog sitesi</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="" th:href="@{/}" ><span>Anasayfa</span></a>
                </li>

                <!--
                <li>
                    <a href="javascript: void(0);"><span> Features </span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="standard-post.html">Standard Post</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                        <li><a href="audio-post.html">Audio Post</a></li>
                        <li><a href="gallery-post.html">Gallery Post</a></li>
                        <li><a href="quote-post.html">Quote Post</a></li>
                        <li><a href="link-post.html">Link Post</a></li>
                        <li><a href="404.html">Error 404</a></li>
                    </ul>
                </li>
                -->


                <li>
                    <a href="about.html" th:href="@{/about}">Hakkımda</a>
                </li>

                <li>
                    <a href="contact.html" th:href="@{contact}">İletişim</a>
                </li>

            </ul>

            <div style="padding-bottom:0px; bottom:0px; margin-bottom:0px;" class="copyright-box">
                <p>2018 © Sencer Seven. </p>
            </div>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
</body>
</html>