<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../bower_components/select2/dist/css/select2.min.css"
            th:href="@{/bower_components/select2/dist/css/select2.min.css}">

    <script src="js/lib/jquery/jquery.min.js" th:src="@{/js/lib/jquery/jquery.min.js}"></script>
    <!-- Form validation -->
    <script src="js/lib/form-validation/jquery.validate.min.js" th:src="@{/js/lib/form-validation/jquery.validate.min.js}"></script>
    <script src="js/lib/form-validation/jquery.validate-init.js" th:src="@{/js/lib/form-validation/jquery.validate-init.js}"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>
<body>

<section class="content-header">
    <h1>
        Düzenleme
        <small>Kategori düzenleme sayfası</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">UI</a></li>
        <li class="active">Buttons</li>
    </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>

                    <h3 class="box-title">Düzenleme</h3>
                </div>
                <div class="box-body pad table-responsive">
                    <p>Mevcut düzenlemeleri yaptıktan sonra kaydet butonunu kullanınız</p>
                    <form class="form-valide" action="#" th:action="@{/admin/category/add}" method="post" th:object="${categoryCommand}">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="val-category">Kategori</label>
                            <input type="text" class="form-control" id="val-category" placeholder="Kategori ismini giriniz.." th:field="*{name}">
                            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <label for="val-description">Tanım</label>
                            <input type="text" class="form-control" id="val-description"  placeholder="Kategori tanımını giriniz.." th:field="*{description}">
                            <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>
                        <div class="form-group">
                            <label for="val-parent">Üst Kategori</label>
                            <select class="form-control select2" id="val-parent"  th:field="*{parentCategory.id}">
                                <option value="">Please select</option>
                                <option th:each="category : ${categories}" th:if="(*{id} != ${category.id})" th:value="${category.id}" th:text="${category.name}" th:selected="(*{parentCategory.id} == ${category.id})"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-toggle="toggle" th:field="*{active}" th:checked="*{active} == true">
                                    Menude Gözüksünmü ?
                                </label>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>

                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</section>
<script src="../../bower_components/select2/dist/js/select2.full.min.js"
        th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>
    <script>
        $('.select2').select2();
    </script>
</body>
</html>